<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="hkrpg.proxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <hkrpg.proxy.Properties.Settings>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DestinationPort" serializeAs="String">
                <value>21000</value>
            </setting>
        </hkrpg.proxy.Properties.Settings>
    </userSettings>
</configuration> 